{% extends "base.html" %}
{% block custom_css %}
<style>
  table {
      width: 100%;
      border-collapse: collapse;
      table-layout: auto;
      margin-top: 20px;
      text-align: center;
  }
  table th,
  table td {
      border: 1px solid #ccc;
      padding: 8px;
      font-size: 14px;
      white-space: nowrap;
  }
  table th {
      background-color: #eaeaea;
  }
</style>
{% endblock %}
{% block content %}
<div class="stats-container">
  <h1>패보 업로드</h1>
  <div class="separator"></div>
  <form id="uploadForm" method="post" action="/upload_log">
    <label for="url">패보 URL:</label>
    <input type="text" id="url" name="url" placeholder="패보 URL을 입력하세요" style="width: 50%; height: 30px; font-size: 14px; padding: 10px 10px 10px 10px; margin: 20px 20px 20px 20px;">
    <button type="submit" style="margin-top: 10px;">확인</button>
  </form>
  <div class="separator"></div>
  <p id="message" style="font-weight: bold;">{{ message }}</p>
  
  <!--{% if game_log and message == "패보 저장 성공!" %}-->
  <div class="separator"></div>
    <h2>패보 요약</h2>
    <!-- 게임 로그 정보 테이블 -->
    <table class="summary-table">
      <thead></thead>
      <tbody>
        <tr>
          <td style="text-align: center;">패보 ID</td>
          <td style="text-align: left;">{{ game_log.ref }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">날짜</td>
          <td style="text-align: left;">{{ game_log.title[1] }}</td>
        </tr>
      </tbody>
    </table>

    <!-- 유저별 정보 테이블 -->
    <table class="summary-table" style="text-align: center;">
      <thead>
        <tr>
          <th style="position: sticky; left: 0; background-color: #fff; z-index: 11;"></th>
          {% for i in range(4) %}
          <th>{{ game_log.name[i] }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="position: sticky; left: 0; background-color: #fff; z-index: 10;">점수</th>
          {% for i in range(4) %}
          <td>{{ game_log.sc[i*2] }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th style="position: sticky; left: 0; background-color: #fff; z-index: 10;">우마</th>
          {% for i in range(4) %}
          <td>{{ game_log.sc[i*2 + 1] }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  {% endif %}
</div>

<script src="{{ url_for('static', filename='js/uploadLog.js') }}"></script>
{% endblock %}